@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    background-image: url("../images/background.jpeg");
    background-size:cover;
    margin:0;
    padding:0;
}

#header {
    width: 100%;
    height: 175px;
    text-align: center;
    background-color: #ffffffad;
    color: #b3d201b8;
    font-family: 'Fredoka One', cursive;
    margin-bottom:6%;
}


#header > h1 {
    padding-top:2%;
    font-size: 75px;
}


.restaurant-list > ul {
    list-style-type:none;
    padding-left: 0;
}


.item-name {
    border: solid;
    background: white;
}

.item-description {
border: 1px solid red }

.center {
    width:50%;
    margin:auto;
}

.restaurant-list > ul {
   overflow-y:auto;
}

.restaurant-name > a {
    text-decoration:none;
    color:white;
}

.restaurant-name {
    margin:5px;
    font-family: 'Montserrat', sans-serif;
    background-color:;
    padding:5px;
    font-size:large;
    }

.restaurant-name:hover {
    background-color:#ffffff26;
}

.form {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 16px;
}

.left-offset {
    padding-left: 20px;
}

.grid-span-row {
    grid-column: 1 / -1;
}

.big-text {
    font-size: 1.2em;
}

.bigger-text {
    font-size: 1.4em;
    font-weight: bold;
}

.menu-list {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
    grid-gap: 4px;
    padding: 16px 0;
}

.bold {
    font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}